* {
    padding: 1px;
    margin: 0;
}

#section-one {
    background-image: url("back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    margin-bottom: 70px;
}

#section-one ul:hover {
    color: red;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: 2s;
}

#section-one h1 {
    color: brown;
    margin: 150px 450px;
    font-weight: 1000rem;
}

button {
    height: 42px;
    background-color: red;
    border: 0;
    border-radius: 15px;
    padding: 0 20px 0 20px;
    color: whitesmoke;
    float: left;
    width: 200px;
    font-size: 25px;
}

button:hover {
    background-color: gold;
    font-weight: bold;
    color: rgb(228, 24, 24);
    cursor: pointer;
}

#section_h1 {
    background-color: brown;
    color: whitesmoke;
    margin: -70px 0px 0px 0px;
    padding: 0px 30px 0px 30px;
    text-align: center;
}

#section_two {
    background-image: url("Images/prog2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    margin-bottom: 70px;
}

#section_two h1 {
    background-color: red;
    color: whitesmoke;
    text-align: center;
    font-style: italic;
    animation-fill-mode: both;
}

#section_two h2 {
    color: blue;
    padding: 50px 0 0 0;
}

#section_h1:hover {
    background: gold;
    background-attachment: fixed;
    color: green;
    cursor: pointer;
}

p {
    text-align: center;
}

#section_three {
    background-image: url("images-3.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    margin: -70px 0px 0px 0px;
    padding: 0px 30px 0px 30px;
}

#section_three h1 {
    color: brown;
}